.git
.gitignore
.env
.env.*
README.md
Dockerfile
.dockerignore
target/*
!target/*.jar
node_modules
uploads/*
*.log
*.md
*.iml
.idea/
.vscode/
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
*.swp
*.swo
.DS_Store 